<h1>Hello, this is a basic Flask app!</h1>  
<button><a href="/test-ai">Test AI</a></button> <br>  
<img src="https://placehold.co/200x200.png" alt="Placeholder Image"> <br>  
<iframe width="560" height="315" src="https://www.youtube.com/embed/CtdyoH-kvog?si=6lEVlWfIBuNhZhxy" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>